# Server
PORT=5000
MONGODB_URI=mongodb://localhost:27017/wallet-wars
ROBINHOOD_RPC_URL=https://rpc.testnet.chain.robinhood.com
ROBINHOOD_CHAIN_ID=46630
ROBINHOOD_NETWORK=testnet
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_here_change_in_production
NODE_ENV=development

# Client
VITE_API_URL=http://localhost:5000/api
VITE_ROBINHOOD_CHAIN_ID=46630
VITE_ROBINHOOD_RPC_URL=https://rpc.testnet.chain.robinhood.com
